:root {
  --header-height: 3rem;

  /*========== Colors and Shadow Setting==========*/
  --hue: 50;
  --sat: 50%;
  --first-color: #6B8E23;
  --first-color-hover: #f5f5fb;
  --title-color: #6B8E23;
  --text-color: #E4FF32;
  --shadow-color: 0 0 5px #6B8E23	;
  --body-color: linear-gradient(0deg,#F2F3F5 23.8%,#98FB98 92%);
  --container-color: #F2F3F5;
  --box-text: linear-gradient(45deg,#F2F3F5 23.8%,#98FB98 92%);
 /*========== Font and Typography Settings ==========*/
  --body-font: 'sans-serif', italic;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --medium-font-size: .789rem;
  --tiny-font-size: .625rem;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}
/*=========== Page Style ==========*/
#page{
    scroll-behavior: smooth;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
}

/*========= Container Styling =========*/
.container{
    z-index: 5;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 3%;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

/*========== panel frame ==========*/
.frame{
  margin: 15px;
  padding: 5%;
  background-image: var(--container-color);
  box-shadow: var(--shadow-color);
  border-radius: 5px;
  opacity: 2	;
}

.menu{
    align-items: center;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    height: 72px;
    max-width: 370px;
    border-radius: 12px;
    overflow: hidden;
    background-image: var(--container-color);
}

.pane{
    flex: 0 0 100vw;
    height: 100vh;
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
}

#home{
    background-image: var(--body-color);
}
/*========= Title Style ======*/
.pane h1{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    color: var(--title-color);
    text-shadow: var(--shadow-color);
}

h1:hover{
transform: translate(-50%, 5%);
}

.title{
   padding: 12px;
   text-align: center;
}

/*=========== List Styling =========*/
li {
  color: var(--first-color);
}

li:hover{
   background-color: var(--box-text);
   font-weight: 20px;
   text-shadow: var(--shadow-color);
}

.list{
   padding-left: 5%;
   text-align: left;
   list-style-type: number;
}

audio {
 padding-left: 25%;
}